*{
    /* border:0.5px solid grey; */
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{

    display:flex;
    flex-direction: column;
    min-height: 100vh;/* this and flex:1 in middle pushes footer down. vh is viewport height, it's put in the outermost parent of the element*/
}
.middle{
   flex: 1; /* this means the middle part will grow to all the available space that isn't taken by header and footer since middle is everything except those two */
    
}
.header, .container-one{
    background-color: #1F2937;
}
.header h3{
    font-size: 24px;
    color: #F9FAF8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:overline;
}

.left-side h2{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
}   
.left-side p{
    font-size: 18px;
    color:#E5E7EB; 
    text-align: justify;
}
.left-side button{
    align-self: flex-start;
    padding:3px 15px;
    margin-top: 10px;
    background-color: #3882F6;
    border-radius: 3px;
    color:white;
    }
.header a{ 
    text-decoration: none;
    color: #F9FAF8;
}
.header h3:hover{
    color: rgb(89, 47, 89);
    text-shadow:2px 2px 8px #FF0000;
}
.header ul a:hover{
    color: rgb(89, 47, 89);
    text-shadow:2px 2px 8px #FF0000;
}
.header ul{
    font-size: 18px;
    color:#E5E7EB;
    list-style: none;
    display:flex;
    gap:10px;
    text-decoration:overline;
}
.header{
   display: flex;
   justify-content: space-between;
   padding:20px 100px 50px 100px;
}
.container-one img{
    max-width: 200px;
    height:auto;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}
.container-one img:hover{
    transform:scale(1.2);
    color: #111; 
    -webkit-filter: drop-shadow(12px 12px 7px rgba(95, 9, 9, 0.5));
    filter: drop-shadow(12px 1px 2px rgb(100, 14, 14));
}
.container-one img:active{
    transform: scale(1);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(109, 41, 41, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(70, 13, 13, 0.5));
}
.container-one{
padding:0px 100px 50px 100px;
display: flex;
justify-content: space-between;



}
.left-side{
 display:flex;
 flex-direction: column;
 justify-content: center;
 flex:1;

}

.right-side{
  flex:2;
  display: flex;
  justify-content: end;
}
.container-two{
  padding:0px 100px 50px 100px;
  margin: 15px 0px;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.container-two h4{
    font-size: 32px;
    font-weight:900px;
    color:#1F2937;
    margin-bottom: 20px;
}
.boxes{
    display:flex;
    justify-content: center;
   gap:30px;
   flex-wrap: wrap;
    
}
.box{

   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container-two p{
    text-align: center;
}
.container-two h1{
    border:1px solid #3882F6;
    border-radius: 4px;
    width:80px;
    height:80px;
    text-align: center;
    padding-top: 20px;
   
}
.container-three{
    padding:40px 130px 40px 130px;
    background-color: #E5E7EB;
    font-size: 28px;
    font-style: italic;
    text-align: justify;
 
}
.container-three h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: end;
}

.container-four{
    padding:40px 100px 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.adspace{
    background-color: #3882F6;
    border-radius:5px;
    padding: 15px 20px;
    display:flex;
    justify-content: space-between;
    max-width: 900px;
    gap:40px;

}
.container-four .fourleft{
flex:2;
display: flex;
flex-direction: column;
color:white;
font-weight: bolder;
}

.container-four .fourleft p{
    font-size: 12px;

}
.container-four h3{
    text-decoration: underline white;
}
.container-four .fourright{
    flex:1;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}

.adspace button{
    padding: 7px 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color:#2571ed;
    border: 0.5px white solid;
    width: 150px;
    height:auto;
}
.adspace button:hover{
    background-color: rgb(89, 47, 89);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.adspace button:active{
    transform: scale(0.98);
    box-shadow: none;
}


    .footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 15px 0px;
    justify-content:center;
    align-items: center;
}